.fluids {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.noise {
  position: relative;
  display: flex;  
  justify-content: center;
}
